.step
{
	border-radius: 25px;
  color: white;
}

.sex p
{
	display: center;	

}
p
{
	text-align: center;
}

fieldset
{
	width: 35%;
}

.topPos
{
	vertical-align: top;	
}

.Legend
{
	text-align: center;
	color: #96B0AD;
}