img.logo
{ 
	display: block; 
	margin: 0 auto; 
	/* height: px; 
	width: px; */
}

input.search
{

}

header, nav
{
	background: rgba(0, 0, 0, 0.7);
}

nav
{
	padding-top: 1% 
}

ul li 
{
	color:	white;
}

article.Want_you_buy
{
 /*	text-align: justify; */
	padding-right: 20%;
	padding-left: 20%;
}

article.Want_you_sale
{
	/* text-align: justify; */
	padding-right: 20%;
	padding-left: 20%;
}

h1
{
	text-align: center;
}
li
{
	display: inline;
	text-align: center;
	padding: 4%;
	margin-left: 4%;
}



